<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body style="font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f7f7f7;">
<div style="    max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div style="display: flex;
    align-items: center;">
        <img src="https://cms.dev.electrolitemobility.com/public/electrolite_logo.png"
             style="width: 200px; margin-left: 6%;" alt="logo">
    </div>
    <div style="background-color: #F0F6FB;
    border-radius: 5%;
    padding: 7%;
    margin-top: 6%;
    font-family: Lato;
    padding-bottom: 20%;">
        <h1 style="     color: #333333;
      display: flex;
      flex-direction: row;
      margin-bottom: 10%;
      font-size: 32px;
      font-family: Lato;
      font-weight: 800;">Reset Your Password</h1>
        <p style="      font-size: 18px;
      flex-direction: row;
      font-weight: bold;">Hello <span th:text="${user.firstName}"></span>,</p>
        <p style="font-size: 18px;
      ">A password reset for your account was requested. Please click the button below to change your password. Note that this link is valid for 24 hours. After the time limit has expired, you will have to resubmit the request for a password reset.</p>
        <a th:href="${resetLink}" style="text-decoration: none;">
            <button style="  background-color: #4caf50;
      color: #ffffff;
      border: none;
      padding: 4% 16%;
      text-align: center;
      display: flex;
      font-size: 18px;
      font-weight: 700;
      border-radius: 10px;
      cursor: pointer;
      align-content: center;
      margin: 8% 5% 8% 0%;" >Reset Your Password
                <img style="width: 20px; margin-left:6px;" src="https://cms.dev.electrolitemobility.com/public/et_arrow.png" alt="icon">
            </button>
        </a>
        <p style="font-size: 18px;">If you did not make this request, please <a  style="color: #4caf50;">contact support</a>.</p>
    </div>
</div>
</body>
</html>
